<div class="row">
	<div class="col-lg-3">
		<%= render "layouts/adminheader"%>
	</div>
	<div class="col-lg-9", style = "margin-top: 70px;">
		<h1>記事新規登録画面</h1>
		<%= simple_form_for(@article, url:admins_article_index_path, method: :post) do |f| %>
			<div class="form-group">
				<label>記事名</label>
				<%= f.text_field :name %>
			</div>
			<%= f.input :introduction, as: :summernote %>
			<div class="btn-group">
				<%= f.submit "登録する"%>
			</div>
		<% end %>
	</div>
</div>