<style>
	.item{
		display: inline-block;
	}
	.user a{
		text-decoration:none;
		color: #555555;
	}
</style>

<div class="row">
	<div class="col-lg-3">
		<%= render "layouts/adminheader"%>
	</div>
	<div class="col-lg-9", style="margin-top:70px;">
		<h1>本日購入された商品</h1>
		<% @order.each do |order| %>
			<div class="item">
				<%= attachment_image_tag order.product, :image, :fill, 150,150 %>
				<table class="user">
					<tr>
						<td><p>購入日: <%=  order.created_at.strftime('%Y/%m/%d') %></p></td>
					</tr>
					<tr>
						<td><p>商品名: <%= order.product.name %></p></td>
					</tr>
					<tr>
						<td><p>購入個数: <%= order.quantity%>個</p></td>
					</tr>
					<tr>
						<td>
							<%= link_to admins_order_path(order.id) do %>
								<p>注文内容の表示</p>
							<% end%>
						</td>
					</tr>

				</table>
			</div>
		<% end %>
	</div>
</div>