<div class="row">
  <div class="col-lg-3">
    <%= render "layouts/header"%>
  </div>
  <div class="col-lg-9", style = "padding: 70px 0 0 70px;">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <label>メールアドレス</label><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <label>パスワード</label><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
