<style>
	.table th{
		text-align: center;
	}
	.table td{
		text-align: center;
	}
</style>

<div class="row">
	<div class="col-lg-3">
		<%= render "layouts/adminheader"%>
 	</div>
 	<div class="col-lg-9 user", style="margin-top:70px;">
		<h1>会員一覧画面</h1>
		<table class="table">
			<tr>
				<th>会員ID</th>
				<th>名前</th>
				<th>メールアドレス</th>
				<th>顧客ステータス</th>
				<th></th>
			</tr>
			<% @user.each do |user| %>
			<tr>
				<td><p><%= user.id %></p></td>
				<td><p><%= user.first_name %> <%= user.last_name %></p></td>
				<td><p><%= user.email %></p></td>
				<td>
					<p>
						<% if user.is_deleted == false %>
							<span style = "background-color: #000080;" class= "badge">有効会員</span>
						<% else %>
							<span style = "background-color: #00FF00;"class="badge">退会済み</span>
						<% end %>
					</p>
				</td>
				<td><%= link_to edit_admins_user_path(user.id) do %>
						<span class="btn btn-info">編集する</span>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>