<div class="row">
	<div class="col-lg-3">
		<%= render "layouts/header"%>
	</div>
	<div class="col-lg-9">
		<h1>記事一覧ページ</h1>
		<table>
			<tr>
				<th>投稿日</th>
				<th>タイトル(その記事へのリンク)</th>
				<th>紹介している商品名</th>
				<th>紹介している商品へのリンク</th>
			</tr>
			<% @article.each do |article| %>
			<tr>
				<td><%= article.created_at.strftime("%Y-%m-%d %H:%M")%></td>
				<td>
					<%= link_to article_path(article.id) do %>
						<%= article.name %>
					<% end %>
				</td>
				<td><%= article.product.name %></td>
				<td>
					<%= link_to product_path(article.product.id) %>
						<span>商品の詳細へ</span>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>