<div class="row">
	<div class="col-lg-3">
		<%= render "layouts/adminheader" %>
	</div>
	<div class="col-lg-9", style = "margin-top: 70px;">
		<div>
			<%= attachment_image_tag @product, :image, :fill, 500, 500 %>
			<table>
				<tr><td><p>商品名：<%= @product.name %></p></td></tr>
				<tr><td><p>商品説明：<%= @product.introduction %></p></td></tr>
				<tr><td><p>ジャンル：<%= @product.genre.name %></p></td></tr>
				<tr><td><p>価格：<%= addTax(@product.price) %>円(税込価格)</p></td></tr>
				<tr><td><p>在庫数： <%= @product.stock %></p></td></tr>
				<tr>
					<td>
						<p>販売ステータス：
							<% if @product.is_stopped == false %>
								販売中
							<% elsif @product.is_stopped == true %>
								販売停止
							<% end %>
						</p>
					</td>
				</tr>
			</table>
			<%= link_to edit_admins_product_path(@product.id) do %>
				<span class="btn btn-info">編集する</span>
			<% end %>
		</div>
	</div>
</div>