<div>
	<%= render "layouts/header" %>
	<% @products.each do |product|%>
	<%= attachment_image_tag product, :image, :fill, 50 ,50 %>
	<%= link_to product_path(product.id) do %>
	<%= product.name %>
	<% end %>
	<%= product.price %>
	<% end %>
</div>