<style>
	.introduction{
		overflow-y: scroll;
	}
</style>

<div class="row">
	<div class="col-lg-3">
		<%= render "layouts/header" %>
	</div>
	<div class="col-lg-9", style = "margin-top: 70px;">
		<div>
			<%= attachment_image_tag @product, :image, :fill, 500,500 %>
			<h3>商品名　<%= @product.name %></h3>
			<p class="introduction">商品説明　<%= @product.introduction%></p>
			<h4>価格　<%= addTax(@product.price)%>円(税込価格)</h4>
			<% if @product.stock  >  0 %>
				<%= form_for(@order,url:orders_path) do |f| %>
					<%= f.hidden_field :product_id %>
					<%= f.submit "購入する" %>
					<%= f.select :quantity, [*1..@product.stock.to_i] %>
				<% end %>
			<% end %>
			<% if @product.is_stopped == true %>
				<h4>現在販売停止</h4>
			<% end %>
		</div>
	</div>
</div>
