<style>
	.logo{
		display: block;
 		margin: 0 90px 50px 90px;
	}
	.account{
		text-align: center;
		padding-top: 80px;
		font-size: 20px;
	}
	li{
		list-style: none;
		text-align: center;
		margin: 150px 0 100px 0;
		size: 50px;
	}
	.list{
		margin: 0;
		padding: 0;
		font-size: 25px;
	}
	.link{
		color: #555555;
		text-decoration: none;
	}
</style>

<div class="side-menu">
	<% if admin_signed_in? %>
		<div>
			<img src="/assets/logo.jpg", class="logo">
		</div>
		<div>
			<ul class="list">
				<li><%=link_to "Product",admins_products_path, class: "link" %></li>
				<li><%=link_to "Member", admins_users_path, class: "link" %></li>
				<li><%=link_to "Order history", admins_orders_path, class: "link" %></li>
				<li><%=link_to "Article", admins_article_index_path, class: "link" %></li>
				<li><%=link_to "genre",admins_genres_path, class: "link" %></li>
				<li><%=link_to "logout",destroy_admin_session_path, method: :delete, class: "link"%></li>
			</ul>
		</div>
	<% end %>
</div>